@import "tailwindcss";


body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url('home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.degradado {
  background: linear-gradient(to top, #121212, rgba(255, 255, 255, 0));
}

::-webkit-scrollbar {
  display: none;
}

.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.fondo {
  background: linear-gradient(to right, rgb(108, 108, 239), rgb(121, 224, 121));
  background-clip: text;
  color: transparent;
}